*This section allows me to import the modules needed for this baseline model*

In [1]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

*This section allows me to import the csv file with the data. For simplicity on the first model, I have used dropna in order to drop missing values for simplicity in the primary model. This will be changed at a later date*

In [3]:
file_path = 'train_modified.csv'
data = pd.read_csv(file_path)
data = data.dropna(axis=0)

In [4]:
#This selects my prediction target, y
y = data.Survived
#These are the feautures which will be used by the model in order to determine survival. Name has been excluded.
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
#Data is called X - by convention
X = data[features]
#This outputs a quick review of the data
X.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,1.191257,0.519126,35.674426,0.464481,0.475410,78.682469,1.655738
std,0.515187,0.501005,15.643866,0.644159,0.754617,76.347843,0.498963
min,1.000000,0.000000,0.920000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,0.000000,24.000000,0.000000,0.000000,29.700000,1.000000
50%,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000,2.000000
75%,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000,2.000000
max,3.000000,1.000000,80.000000,3.000000,4.000000,512.329200,3.000000

In [5]:
#This allows me to show the top few rows
X.head()

    Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
1        1    0  38.0      1      0  71.2833       1.0
3        1    0  35.0      1      0  53.1000       2.0
6        1    1  54.0      0      0  51.8625       2.0
10       3    0   4.0      1      1  16.7000       2.0
11       1    0  58.0      0      0  26.5500       2.0

In [6]:
#This allows me to define my model. The random state is good practice to ensure the same result each run
baseline_model = DecisionTreeRegressor(random_state = 1)
#Fiting model
baseline_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

*Now I am going to create a prediction for the the first 5 entries - with no missing values*

In [7]:
print(X.head())
print('Predictions are')
print(baseline_model.predict(X.head()))

    Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
1        1    0  38.0      1      0  71.2833       1.0
3        1    0  35.0      1      0  53.1000       2.0
6        1    1  54.0      0      0  51.8625       2.0
10       3    0   4.0      1      1  16.7000       2.0
11       1    0  58.0      0      0  26.5500       2.0
Predictions are
[1. 1. 0. 1. 1.]

*To prove that the model is functional, I will output the results of the predictions it has made*

In [8]:
print(baseline_model.predict(X))

[1. 1. 0. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0.
 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 0. 1.
 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 1.
 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1.
 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1.]

In [9]:
predictions = baseline_model.predict(X)
print(mean_absolute_error(y, predictions))

0.0